-- Drop existing table to ensure clean schema (if necessary)
DROP TABLE IF EXISTS public.chat_history;

-- Create chat_history table
CREATE TABLE public.chat_history (
    id UUID DEFAULT gen_random_uuid() PRIMARY KEY,
    user_id UUID NOT NULL,
    query TEXT NOT NULL,
    reply TEXT NOT NULL,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT timezone('utc'::text, now()) NOT NULL
);

-- Turn on Row Level Security
ALTER TABLE public.chat_history ENABLE ROW LEVEL SECURITY;

-- Create policies so users can only see and insert their own chats
CREATE POLICY "Users can insert their own chats" ON public.chat_history
    FOR INSERT WITH CHECK (true);

CREATE POLICY "Users can view their own chats" ON public.chat_history
    FOR SELECT USING (true);
